.jumbotron {
  background-image: url(building.png);
  height: 400px;
  color: black;
  margin: 0px;
}


body {
  background-image: url(brushed.png);
  margin: 0px 100px;
}

.trans {
  background-color: rgba(150,150,150,0.6);
  border-radius: 10px;
  padding: 10px;
}

.container h1  {
  font-family: "Times New Roman";
  font-variant: small-caps;
  margin: 0px 10px;
  padding: 0px;
}

.col-lg-4 {
  text-align: left;
  border-radius: 1px;
  /*height: 50px;*/
  font-family: "Times";
  font-size: 18px;
}

.catlabel {
  text-align: center;
  border-radius: 1px;
  height: 50px;
  font-variant: small-caps;
  font-family: "Times New Roman";
  font-size: 22px;
}

.col-md-1 {
  border: ;
  height: 40px;
  padding: 5px;
  text-align: center;
  font-size: 22px;
  font-family: "Times New Roman"
}

.current {
  /*border: 1px solid black;*/
  background: rgba(200,200,200,0.4);
}

a {
  color: black;
}

.col-md-1:hover {
  /*background: white;*/
}

/*a:hover {
  color: black;
  text-decoration: none;
}*/

.smallnav {
  border-bottom: 1px solid black;
}

.row {
  margin: 0px 50px;
}

.contact {
  background-image: url(grey_wash_wall.png);
}

.details {
  text-align: left;
}






