.main_photo {
  width: 100%;
  height: 400px;
  background: url(http://www.tacomanarrowsbridge.org/zassorted29.jpg);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  background-image: url(./images/white_bed_sheet.png);
}

.trans_box, h2, h1  {
  font-family: Times New Roman;
}

.photofilter {
  width: 100%;
  height: 400px;
  background: rgba(130,130,130, 0);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}

.trans_box {
  /*background: rgba(130,130,135, 0.7);*/
  margin-top: 50px;
  padding: 10px;
  font-size: 60px;
  font-variant: small-caps;
  text-decoration: underline;
  border-radius: 5px;
}

.tag_line {
  text-align: center;
  border-bottom: 3px solid gray;
}

.copy {
  padding-top: 100px;
  padding-bottom: 150px;
}

.contact {
  width: 100%;
  height: 450px;
  background-color: gray;
  /*background-image: url(./images/mooning.png);*/
  padding-top: 120px;
}

.l/*ogo {
  width: 30px;
  height: 30px;
  float: right;
  padding: 100px;
  background-image: url(./images/WSBAlogoCircleRGBsm.jpeg);
  background-repeat: no-repeat;
}*/

table {
  font-size: 16px;
  /*color: white;*/
}

.contact h1 {
  /*color: white;*/
}

.lbl {
  font-weight: bold;
  vertical-align: top;
}

td {
  padding: 10px;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}


i {
  color: black;
  font-size: 48px;
}
















