.main_photo {
  width: 100%;
  height: 500px;
  background: url(https://lh6.googleusercontent.com/-ThG2LOmZeYM/UqjubP18LfI/AAAAAAAAF5s/Mv1TK_icPwE/w1118-h447-no/IMG_3148copy.jpg);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}

.bottom_photo {
  width: 100%;
  height: 700px;
  // background: url(https://dl.dropboxusercontent.com/u/379793/IMG_3135.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: bottom;*/
}

.copy_section {
  width: 100%;
  background-image: url(https://lh6.googleusercontent.com/-1La-RANZ3FU/UqjuciWi1WI/AAAAAAAAF5w/ZHD3gpdBj5c/s54-no/white_bed_sheet.png);
}



.trans_box, h2, h1, h3  {
  font-family: 'Cardo';
}


.trans_box {
  color: white;
  background: rgba(21,24,22, 0.8);
  width: 300px;
  height: 230px;
  margin-top: 80px;
  padding-left: 20px;
  font-size: 380%;
  font-variant: small-caps;
  border-radius: 0px;
}


.tag_line {
  text-align: left;
  padding-left: 15px;
  border-bottom: 3px solid gray;
}

.copy {
  padding-top: 100px;
  padding-bottom: 50px;
}

.notice {
  padding-bottom: 50px;
  p {
    font-size: 22px;
  }
}
.contact_cover {
  position: absolute;
  background-image: url(https://dl.dropboxusercontent.com/u/379793/IMG_3135.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
  z-index: -1;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.contact_bg {
  width: 100%;
  height: 700px;
  background: rgba(21,24,22, 0.8);
  position: absolute;
  z-index: -1;
}
.contact {
  width: 100%;
  height: 700px;
  position: relative;
  padding-top: 20px;
  color: white;
  font-family: 'Cardo';
  z-index: 100;
}

.logo {
  width: 200px;
  height: 120px;
  background-image: url(https://lh6.googleusercontent.com/-axgaSLN6aTM/UqjubD6_sZI/AAAAAAAAF5g/tU1lS_SYMyU/s103-no/logo.png);
  background-repeat: no-repeat;
  background-size: 120px 120px;
}

table {
  font-size: 18px;
}

.contact h1 {
  color: white;
}

.lbl {
  font-weight: bold;
  vertical-align: top;
}

td {
  padding: 10px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: #a6aea8;
}

#map {
  font-size: 12px;
}

/*i {
  color: black;
  font-size: 48px;
}*/

/*.place {
  width: 100%;
  height: 530px;*/
  /*background: url(https://lh5.googleusercontent.com/-gHGu39W6hmc/UqjubOS7lUI/AAAAAAAAF50/wf1o4cX2ts4/w1118-h447-no/IMG_front_door_angle.jpg);*/
  /*background-attachment: fixed;*/
  /*background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}*/

/*#footer {
  width: 100%;
  background: rgba(21,24,22, 0.8);
  position: fixed;
  bottom: 0;
  font-size: 10px;
  color: #a6aea8;
}*/















