.main_photo {
  width: 100%;
  height: 500px;
  background: url(https://lh6.googleusercontent.com/-ThG2LOmZeYM/UqjubP18LfI/AAAAAAAAF5s/Mv1TK_icPwE/w1118-h447-no/IMG_3148copy.jpg);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}

.copy_section {
  width: 100%;
  background-image: url(https://lh6.googleusercontent.com/-1La-RANZ3FU/UqjuciWi1WI/AAAAAAAAF5w/ZHD3gpdBj5c/s54-no/white_bed_sheet.png);
}

.trans_box, h2, h1, h3 {
  font-family: 'Cardo';
}

h1 {
  font-size: 54px;
  line-height: 1.4;
}

.trans_box {
  color: white;
  background: rgba(21, 24, 22, 0.8);
  width: 300px;
  height: 230px;
  margin-top: 80px;
  padding-left: 20px;
  font-size: 380%;
  font-variant: small-caps;
  border-radius: 0px;
}

.tag_line {
  text-align: left;
  padding-left: 15px;
  border-bottom: 3px solid gray;
}

.copy {
  padding-top: 80px;
  padding-bottom: 50px;
}

.notice {
  padding-bottom: 50px;
  text-align: center;
  border-top: 3px solid gray;
  padding-top: 50px;
}
.notice p {
  font-family: 'Cardo';
  font-size: 26px;
}

.contact_cover {
  position: absolute;
  background-image: url(https://dl.dropboxusercontent.com/u/379793/IMG_3135.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
  z-index: -1;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.contact_bg {
  width: 100%;
  height: 700px;
  background: rgba(21, 24, 22, 0.8);
  position: absolute;
  z-index: -1;
}

.contact {
  width: 100%;
  height: 700px;
  position: relative;
  padding-top: 20px;
  color: white;
  font-family: 'Helvetica Neue';
  font-weight: lighter;
  z-index: 100;
}
.contact h1 {
  color: white;
  padding-left: 10px;
}

.logo {
  width: 200px;
  height: 120px;
  background-image: url(https://lh6.googleusercontent.com/-axgaSLN6aTM/UqjubD6_sZI/AAAAAAAAF5g/tU1lS_SYMyU/s103-no/logo.png);
  background-repeat: no-repeat;
  background-size: 120px 120px;
}

table {
  font-size: 20px;
  margin-bottom: 20px;
}

.lbl {
  font-weight: 400;
  vertical-align: top;
}

td {
  padding: 10px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: #a6aea8;
}

#map {
  font-size: 12px;
}

footer {
  bottom: 0px;
  font-size: 12px;
  color: gray;
}
footer p {
  bottom: 0;
  position: absolute;
}
footer a {
  color: gray;
}

@media screen and (max-width: 1200px) {
  .main_photo {
    background-size: 125%;
    background-position: top;
  }

  .copy {
    padding-top: 50px;
  }

  #notice_break {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .main_photo {
    background-size: 100%;
    background-position: top;
    height: 300px;
  }

  .trans_box {
    margin-top: 50px;
  }
}
@media screen and (max-width: 700px) {
  .main_photo {
    background-size: 130%;
    height: 30%;
  }

  .trans_box {
    width: 200px;
    height: 153px;
    margin-top: 10px;
  }
  .trans_box h1 {
    font-size: 36px;
  }

  .copy p {
    font-size: 20px;
  }
}
